{% extends 'base.html' %}
{% block content %}
    <div class="card">
		<div class="imgBox">
			<div class="bark"></div>
			<img src="../static/images/Sergi.jpeg">
		</div>
    
		<div class="details">
			<h4 class="color1">¡Ya son 3 Años!</h2>
			<h4 class="color2 margin">(YA ESTOY CUMPLIENDO AÑOS)</h3>
			<p>Queridos Familiares y Amigos,</p>
			<p>Gracias...</p>
			<p>Gracias por estar en mi fiesta</p>
			<p>por hacer de este día</p>
			<p>muy especial para mí,</p>
			<p>hoy que cumplo 3 añitos</p>
			<p>espero que seamos amigos por muchos</p>
            <p> años más.</p>
			<p>¿Como hacemos eso? </p>
            <p>Simplemente divirtiéndonos :)</p>
			<p class="text-right">Disfruta en mi Cumpleaños</p>
			<p class="text-right">♥Sergi</p>
		</div>
	</div>
  {% endblock %}
  {% block title %}
    Feliz Cumpleaños Sergi
  {% endblock %}   
  
    <!-- <nav class="menu">
        <ol>
          <li class="menu-item"><a href="#0">Aquí</a></li>
          <li class="menu-item"><a href="#0">Mi Biografía</a></li>
          <li class="menu-item">
            <a href="#0">Videos</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="#0">Primer Añito</a></li>
              <li class="menu-item"><a href="#0">Segundo Añito</a></li>
              <li class="menu-item"><a href="#0">Tercer</a></li>
            </ol>
          </li>
           <li class="menu-item">
            <a href="#0">Kabobs</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="#0">Shishkabobs</a></li>
              <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
              <li class="menu-item"><a href="#0">Summer kabobs</a></li>
            </ol>
          </li>
          <li class="menu-item"><a href="#0">Contact</a></li> 
        </ol>
      </nav> -->
    <!-- <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage('resize', "*");
        }
    </script> -->
