{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="imgBox card-img-top">
        <div class="bark"></div>
        <img src="../static/images/Sergi.jpeg">
    </div>

    <div class="details">
        <iframe width="270" height="315" src="https://www.youtube.com/embed/ZMsfGmsLuys" title="Cumpleaños Sergi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    
        </iframe>
    </div>
</div>
  
{% endblock %}
{% block title %}
  Feliz Cumpleaños Sergi
{% endblock %}
